* {
  margin: 0;
  padding: 0;
  font-family:'Luckiest Guy', cursive;
  box-sizing: border-box;
}

@media only screen and (max-width: 767px) {
  .board-square {
    font-size: 16px;
    padding: 5px;
  }
}

body {
  
  color: #582900;
  font-family: 'Luckiest Guy', cursive;
}

.color-change-2x {
	-webkit-animation: color-change-2x 2s linear infinite alternate both;
	        animation: color-change-2x 2s linear infinite alternate both;
}

@keyframes color-change-2x {
  0% {
  background-color: #DEB887;
  }
  100% {
    background: #af7c53;
  }
}



h1 {
  font-size: 70px;
  text-align: center;
  margin-top: 100px;
}

.bounce-in-fwd {
	-webkit-animation: bounce-in-fwd 1.1s both;
	        animation: bounce-in-fwd 1.1s both;
}

 @-webkit-keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(0.84);
            transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(0.84);
            transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}



.enter-names {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  position: relative;
  margin-top: 100px;
}

label {
  font-size: -webkit-xxx-large;
}

.tracking-in-expand-fwd {
	-webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-8-21 15:28:21
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}


.input-section {
  border: 2px solid #6d071a;
  color: #6d071a;
  outline: none;
  padding: 4px 8px;
  margin: 0 0 10px 4px;
  font-size: 18px;   
}

.input-section:active,
.input-section:focus {
  border: 2px solid #6d071a
}

input#playerOne.input-section {
  border-radius: 60px;
  margin-left: 30px;
  width: 280px;
  height: 100px;
  border: 5px dashed #582900;
  background-color: #F5DEB3;
}

input#playerTwo.input-section {
  border-radius: 60px;
  margin-left: 30px;
  width: 280px;
  height: 100px;
  border: 5px dashed #582900;
  background-color: #F5DEB3;
  color: #582900;

}

.submit-btn {
  border: 2px solid #000;
  padding: 8px 8px;
  font-size: 18px;
  width: 250px;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #fff;
}

input.submit-btn {
  background: #AE8964;
  border: 5px dashed #582900;
  color: #582900;
  margin-left: 240px;
  width: initial;
}

.submit-btn:active,
.submit-btn:focus {
  outline: none;
  border: 2px solid #6d071a;
}

.submit-btn:hover {
    background-color: #582900;
  color: #AE8964;
  border: 5px dashed #AE8964;
}

.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}


.board-container {
  width: 40%;
  background-color: #DEB887;
  margin: 0 auto;
  font-size: 0;
  color: #F08080;
}

.board-square {
  width: calc(100% / 3);
  display: inline-block;
  font-size: 40px;
  text-align: center;
  border: 20px outset #582900;
  padding: 20px;
  vertical-align: top;
  font-family: 'Luckiest Guy', cursive;
}

.symbol {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Luckiest Guy', cursive;
}

.player-turn {
  font-size: x-large;
  text-align: center;
  margin: 10px 0 10px;
  height: 70px;
}

.hide-container {
  display: none;
}

.replay-btn {
  width: initial;
    padding: 10px 20px;
    border: 5px dashed #582900;
    border-radius: 5px;
    outline: none;
    letter-spacing: 0;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 12px;
    word-spacing: 3px;
    background-color: #AE8964;
    color: #582900;
}

.replay-btn:hover,
.replay-btn:active {
  outline: none;
  color: #AE8964;
    background-color: #582900;
    border: 5px dashed #AE8964;
    
}

.shake-horizontal {
	-webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}


@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}



.reset {
  text-align: center;
  margin: 20px auto 0;
}

.reset-hidden {
  display: none;
}


.name--style {
  font-size: 22px;
}



.reset-hidden {
  display: none;
}



.winning-board {
  background-color: #AE8964;
}


.congratulations {
  font-size: 24px;
}

.u-r-winner {
  font-size: 18px;
  height: 18px;
  line-height: 18px;
  margin: 2px 0;
}

